<?xml version="1.0"?>
<launch>
  <node pkg="robot_operator" type="robot_operator" name="robot_operator" output="screen">
    <param name="cam1_topic" type="string" value="/usb_cam/image_raw" />
    <param name="cam2_topic" type="string" value="/usb_cam/image_raw" />
    <param name="cam3_topic" type="string" value="/usb_cam/image_raw" />

  </node>
  <include file="$(find base_description)/launch/kuls.launch" />

</launch>